body {
	font-family: 'Source Sans Pro', sans-serif;
	overflow-x: hidden;
	height: 100%;
	background-color: white;
}

h1 {
	font-weight: 600;
}

h2 {
	font-weight: 600;
}
h3 {
	font-weight: 600;
}

.nav, .pagination, .carousel, .card-title a { cursor: pointer; }

.sidebar-content > li > .fa, .sidebar-content > li > .fas {
	font-size: 14px;
	float: right!important;
	position: relative;
    top: 5px;
    right: 10px;
}

#content {
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.sidebar-btn {
	display: none;
}

.highlighted {
	background-color: yellow;
}

.img-small {
	width: 50%;
}

.builder-list {
	width: 60%;
	display: inline-block;
}

.builder-menu {
	min-height: 230px;
}

.menu-btn {
	width: 30%;
	font-size: 12px;
}

.builder-menu button {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 5px;
	font-size: 14px;
}

.builder-structure {
	margin-top: 25px;
}

#snipcart-title {
	color: white;
}

.inline {
	display: inline-block;
}

.login {
	color: white;
	background: #0070c0;
	padding: 12px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

 .login:hover {
    box-shadow:inset 0 0 0 99999px rgba(0,0,0,0.2);
 }

header {
	background-color: white;
	border-bottom: 1px solid red;
	margin-bottom: 25px;
}

.qty {
	width: 5%;
	position: absolute;
	left: 92%;
}

.left.carousel-control {
	width: 10%;
    height: 100%;
	position: absolute;
    top: 0%;
    left: 0%;
    color: #aaa;
    opacity: .8;
    font-size: .8em;
    background: rgb(215,215,215);
	background: linear-gradient(90deg, rgba(215,215,215,.4) 0%, rgba(231,231,231,.2) 50%, rgba(255,255,255,0) 100%);
}

.left.carousel-control > .fas {
	position: absolute;
	top: 45%;
	left: 35%;
	font-size: 5vw;
}

.right.carousel-control {
	width: 10%;
    height: 100%;
	position: absolute;
    top: 0%;
    right: 0%;
    color: #aaa;
    opacity: .8;
    font-size: .8em;
    background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(231,231,231,.2) 50%, rgba(215,215,215,.4) 100%);
}

.right.carousel-control > .fas {
	position: absolute;
	top: 45%;
	right: 35%;
	font-size: 5vw;
}

.border-bottom {
	border-bottom-color: #ccc;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.border-top {
	border-top-color: #ccc;
	border-top-width: 1px;
	border-top-style: solid;
}

.logo {
	width: 150%;
	max-width: 250px;
	height: 150%;
	max-height: 45px;
}

.navbar-brand {
	height: 100%;
	margin-right: 4em;
	margin-left: 10px;
}

.navbar-brand > img {
	max-width: 220px;
}

.popover {
	max-width: none;
	width: 20%;
	max-height: none;
}

.navbar-nav {
	height: 50px;
	margin-top: 30px;
	font-size: 1.1rem;
}

/*list text style*/
nav ul {
	margin: 0px;
	display: inline;
}

/*list style*/
nav ul li {	
	display: inline-block;
	list-style-type: none;
	padding: 0px 10px 0px 10px;
}

.dropdown-toggle::after {
	font-size: .8rem;
}

/*jumbotron text style*/
.jumbo-text {
	text-align: left;
	color: #305597;
	padding: 15px 10px 15px 0px;
}

.carousel-title {
	font-size: 3.5vw;
	text-align: left;
	width: 70%;
}

.carousel-caption {
	text-align: left;
	text-shadow: none;
	font-weight: 200;
	font-size: 1.1rem;
	bottom: 60px;
	width: 70%;
}

.carousel-inner {
	height: none;
}

.required {
	color: red;
	font-size: 22px;
}

.hide {
	display: none;
}

.black {
	color: black;
}

.list {
	padding: 10px;
	font-size: 16px;
}

/*click here to find out more style*/
.jumbo-click {
	padding: 0px 0px 0px 0px;
	color: black;
	font-weight: 600;
	font-size: 20px;
}

/*News & Partnership heading style*/
.news-header {
	font-size: 24px;
	color: #305597;
	text-align: center;
	padding: 10px;
}

.news-home {
	list-style-type: none;
	font-size: 16px;
}
/*General Products style*/
div div h3 {
	margin-top: .5rem;
	font-size: 18px;
}

.nav-collapsible {
	border-right-style:solid;
	border-width:1px;
	border-color:#ccc;
	padding:12px;
}

.slide-title {
	font-size: 48px;
    position: absolute;
    bottom: 100px;
    font-weight: 200;
}

.pricing-box {
	font-size: 12px;
	border-radius: 2px;
}

.active, .active:link, .active:active, .active:hover, .active:visited {
	font-weight: bold; text-decoration: none;
}

/*News and Partnership style*/
.news-partner {
	text-align: left;
	margin-top: 10px;
	color: black;
	background: white;
	padding: 10px;
	font-weight: 500;
	font-size: 16px;
	border-top-style: solid;
	border-top-width: 1px;
	border-radius: 1px;
	border-color: red;
	list-style-type: none;
}

.active {
	font-weight: bold;
}

.contact {
	font-size: 16px;
	padding: 20px;
	padding-bottom: 0px;
}

.close {
	opacity: .5;
	line-height: .5!important;
}

.close:hover {
	background: none;
}

.article {
	font-size: 16px;
	padding: 10px;
}

.footnote {
	font-size: 10px;
	text-align: center;
	justify-content: center;
}

.history-close {
	position: absolute;
    color: red;
    right: 50px;
}

.news {
	padding: 20px;
	list-style-type: none;
}

.limited-description {
	font-size: 24px;
}

#wrapper {
    border: 1px solid #E73C7E;
    overflow:hidden;
    position:relative;
    height: 300px;

}

.limited-picture {
	background-repeat: no-repeat;
    background-size: 100%;
	background-position:center;
    width:100%;
    height:100%;
    position:relative;
    left:0;
    top:0;
}

footer div p {
	color: #000;
	margin: 20px;
}

.align-left {
	float: left;
	text-align: left;
}

.align-center {
	margin: 0 auto;
	text-align: center;
	justify-content: center;
}

.align-right {
	float: right;
	text-align: right;
}

.row.footer {
	margin-top: 20px;
}

footer {
	margin: 0 auto;
	width: 100%;
}

.footer-border {
	border-top-width: 1px;
	border-top-color: red;
	border-top-style: solid;
	margin-top: 12px;
}

.information {
	cursor: pointer;
	display: block;
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 14px;
}

.search {
	display: none;
	position: absolute;
	top: 40px;
	right: 30px;
}

.home {
    position: relative;
    background: #000 url("/images/Heparin_CoverArt.jpg") center top;
    width: 100%;
    color: black;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

.products_banner {
	position: relative;
    background: #000 url("/images/services-4.jpg");
    width: 100%;
    padding: 40px;
    margin-bottom: 15px;
    color: black;
    height: 100%;
    overflow: hidden;
}

.products_banner h1 {
	font-size: 3.5rem;
	font-weight: 600;
	padding: 20px;
}

.modal-close {
	position: absolute;
    right: 10px;
    top: 3px;
}

.collapsed {
	text-decoration: none;
	cursor: pointer;
}

.small {
	font-size: 10px;
}

.tab {
	padding-left: 1.8em;
}

.card-header {
	border-top-right-radius: 0px!important;
	border-top-left-radius: 0px!important;
}

.structure {
	cursor: pointer;
}

.structure:hover {
	cursor: pointer;
	color: black;
}

.distributor {
	color: #444;
	background: white;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12px;
	cursor: pointer;
}

.size-14 {
	font-size: 14px;
}

#snipcart-main-content .custom-snipcart-footer {
	text-align: center;
	font-size: 12px;
	color: black;
	font-weight: 600;
}

.chemical-description {
	font-size: 16px;
	padding: 10px;
	margin: 0px;
	color: black;
	background: #ddd;
	text-decoration: none;
	border-radius: 5px;
}

.dropdown-item:active {
	background-color: #305597!important;
}

.dropdown:hover .dropdown-menu {
	position: absolute;
	display: block;
	top: 1.5rem;
}

.dropdown:hover > .dropdown-menu > div > a:hover {
	background: inherit;
	font-size: 18px;
	margin-left: 5px;
}

.nav-in-nav {
	list-style: none;
	border-left-style: solid;
	border-left-color: #ccc;
	border-left-width: 1px;
	font-size: 18px;
}

.no-bullets {
	list-style: none;
}

.family-item {
	color: #305597;
	padding: 3px;
	font-size: 13px;
	cursor: pointer;

}

img {
	width: 100%;
}

.front-carousel {
	max-height: 400px;
}

.micro-array {
	margin: 0 auto;
	margin-bottom: 10px;
	display: block;
	width: 100%;
	max-width: 750px;
}

.modalPicture {
	margin: 0 auto;
	padding: 10px;
	width: 100%;
	height: 100%;
}

.panel-default {
	border-radius: 0px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.active-size {
	background: #eee;
	color: black;
	padding: 5px;
	font-size: 14px;
	border-radius: 5px;
}

.collapse-header {
	background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(231,231,231,.3) 50%, rgba(215,215,215,.6) 100%);
	color: #0f0f0f;
	padding: 5px;
	font-size: 1.1em;
}

.new-product:hover {
	background: #fce111 opacity 50%;
	color: #0f0f0f;
}

.products-home {
	border-radius: 5px;
	transition: all 0.2s ease;
}

.products-home:hover {
    box-shadow:inset 0 0 0 99999px rgba(0,0,0,0.2);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: all 0.2s ease;
 }

.view-products {
	cursor: pointer;
	background-color: #0070c0;
	color: white;
	margin: 0px;
	padding: 20px;
	text-align: center;
	width: 100%;
	transition: .1s ease;
	-webkit-transition: .1s ease;
}

.view-products:hover {
	font-size: 2.5em;
}

.error {
	background-color: red;
	color: white;
	margin: 0px;
	padding: 10px;
	text-align: center;
	font-size: 24px;
	width: 100%;
}

.border-transition {
	transition: all linear 0.3s;
}

.border-transition:hover {
	transition: all linear 0.3s;
}

 .add-cart {
 	border-radius: 2px;
 	font-weight: 600;
 }

 .add-cart:hover {
 	color: #222;
    box-shadow:inset 0 0 0 99999px rgba(0,0,0,0.2);
 }

 .series {
 	color: white;
 	padding: 10px;
 	margin-top: 6px;
 	font-size: 18px;
 	border-top-right-radius: 5px;
 	border-top-left-radius: 5px;
 }

.series-NA {
	background: #0070c0;
}

.yellow-text {
	color: yellow;
}

.nav-NA {
	background: #0070c0;
	color: white;
	padding: 5px;
	font-size: 14px;
	border-radius: 5px;
}

.series-NS-NA {
	background: #660066;
}

.nav-NS-NA {
	background: #660066;
	color: white;
	padding: 5px;
	font-size: 14px;
	border-radius: 5px;
}

.series-NS {
	background: red;
}

.nav-NS {
	background: red;
	color: white;
	padding: 5px;
	font-size: 14px;
	border-radius: 5px;
}

.series-6S {
	background: #548135;
}

.nav-6S {
	background: #548135;
	color: white;
	padding: 5px;
	font-size: 14px;
	border-radius: 5px;
}

.row {
	margin-top: 	5px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.series-2S {
	background: #dd0A35;
}

.nav-2S {
	background: #dd0A35;
	color: white;
	padding: 5px;
	font-size: 14px;
	border-radius: 5px;
}

.series-2S-6S {
	background: #0000aa;
}

.nav-2S-6S {
	background: #0000aa;
	color: white;
	padding: 5px;
	font-size: 14px;
	border-radius: 5px;
}

.series-2S-6S-3S {
	background: #0000aa;
}

.nav-2S-6S-3S {
	background: #0000aa;
	color: white;
	padding: 5px;
	font-size: 14px;
	border-radius: 5px;
}

.series-3S {
	background: #ff7f01;
}

.nav-3S {
	background: #ff7f01;
	color: white;
	padding: 5px;;
	font-size: 14px;
	border-radius: 5px;
}

.series-IdoA {
	background: #008080;
}

.nav-IdoA {
	background: #008080;
	color: white;
	padding: 5px;
	font-size: 14px;
	border-radius: 5px;
}

.series-GlcA2S {
	background: #f2c12e;
}

.nav-GlcA2S {
	background: #f2c12e;
	color: white;
	padding: 5px;
	font-size: 14px;
	border-radius: 5px;
}

.series-description {	
	margin-top: 18px;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	border-radius: 5px;
}

/*Products left column*/
div h3 ul {
	list-style-type: none;
	text-align: center;
	margin: 0;
}

.test {
	color: white;
	font-size: 1.2rem;
	margin: 0px;
	margin-left: 20px;
}

.btn {
	background: #0070c0;
	color: white;
	border-radius: 10px;
}

a:hover {
	color: #00375f;
	text-decoration: none;
}

a:focus {
	color: #00375f;
	text-decoration: none;
}

.available {
	background-color: white;
	font-size: 14px;
	padding: 0px;
	margin: 0px;
	text-align: right;
	color: #305597;
}

.nav-text {
	color: #305597;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#ccc;
	padding:10px 40px 10px 5px;
}

.border-bottom {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #ccc;
}

.border-top {
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #ccc;
}

a {
	color: #305597;
}

.nav > li {
	padding: 5px;
}

.footer-details {
	color: #305597;
	font-size: .85em;
}

.nav > li > .footer-details:hover {
	color: #00375f;
	font-size: .95em;
}

.nav > li > a:hover {
	margin-left: 5px;
}

.white-text {
	color: white;
}

.white-text:hover {
	color: #ccc;
}

.black-text {
	color: black;
}

.float-right {
	float: right;
}
.float-left {
	float: left;
}

input[type=text] {
	border: 2px solid #ddd;
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 15px;
}

input[type=password] {
	border: 2px solid #ddd;
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 15px;
}

input[type=email] {
	border: 2px solid #ddd;
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 15px;
}

.securityQ{
	border: 2px solid #ddd;
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 15px;

}


button {
	border: 2px solid #305597;
	padding: 5px 10px 5px 10px;
	margin: 5px;
	border-radius: 2px;
	background-color: white;
	color: black;
	cursor: pointer;
}

button:hover {
	background-color: #d5dff2;
	opacity: 20%;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.services {
	font-size: 16px;
}

.services:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 20%; /* Change this to whatever width you want. */
    padding-top: 2.5%; /* This creates some space between the element and the border. */
    border-bottom: 1px solid #ccc; /* This creates the border. Replace black with whatever color you want. */
}

.banner-limited div {
	width: 60%;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	border: 5px white solid;
	padding: 35px;
}

.banner-limited h1 {
	color: white;
	font-size: 64px;
	font-weight: 700;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}

.banner-limited h1:after {
	content: "";
	display: block;
	margin: 0 auto;
	width: 25%;
	padding-top: 2%;
	border-bottom: 1px solid white;
}

.banner-limited h4 {
	text-align: center;
	color: white;
	font-size: 16px;
	font-weight: 200;
	padding-top: 1%;
}

.limited-carousel {
	background: linear-gradient(60deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 8s linear infinite;
	-moz-animation: Gradient 8s linear infinite;
	animation: Gradient 8s linear infinite;
}

.banner-limited {
	background: linear-gradient(60deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 8s linear infinite;
	-moz-animation: Gradient 8s linear infinite;
	animation: Gradient 8s linear infinite;
	padding: 15px;
	margin-bottom: 20px;
	display: block;
}

.banner {
	background: white;
	background-size: 400% 400%;
	padding: 15px;
	margin-bottom: 20px;
	display: block;
	color: white;
	cursor: pointer;
}

.banner.analysis {
	background: #58ba1f;
}

.banner.synthesis {
	background: #305597;
}

.banner h1 {
	color: white;
	font-size: 64px;
	font-weight: 700;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}

.banner div {
	width: 60%;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	border: 5px white solid;
	padding: 35px;
}

.jumbo-18 {
	background: linear-gradient(60deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	height: 569px;
	-webkit-animation: Gradient 8s linear infinite;
	-moz-animation: Gradient 8s linear infinite;
	animation: Gradient 8s linear infinite;
}

div > .banner-limited {
	margin-bottom: 0px;
	background: linear-gradient(60deg, #23A6D5, #23D5AB);
	background-size: 150% 150%;
	border: 10px double white;
	cursor: pointer;
}

.banner-limited h2 {
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
	margin: 0 auto;
	width: 80%;
	padding: 30px;
}

.banner-limited.opened {
	background-size: 470px 30px;
	-webkit-animation: Limited-Background 15s linear infinite;
	-moz-animation: Limited-Background 15s linear infinite;
	animation: Limited-Background 15s linear infinite;
	padding: 22px;
    border: 3px #23A6D5 solid;
}

.opened h2 {
	border: 3px #23A6D5 solid;
	padding: 27px;
}

.limited-price {
	font-size: 32px;
}

.limited-display {
	display: inline-block;
	width: 100%;
	height: 100%;
	border-bottom: 1px solid;
    border-top: 1px solid;
    margin-bottom: 20px;
    padding: 10px 0px 20px 0px;
}

.limited-display button {
	padding: 10px;
	background: #E73C7E;
	border-color: #E73C7E;
	color: white;
}

.limited-structure {
	font-size: 26px;
    font-weight: 200;
    padding: 20px;
    background: #E73C7E;
    color: white;
}

.tag-tab.not-selected {
	background: #eee;
	color: black;
}

.tag-tab.selected {
	background: #E73C7E;
	color: white!important;
}

.tag-tab {
	border: #E73C7E 1px solid;
	cursor: pointer;
	border-bottom: none;
	position: relative;
	bottom: .15em;
	padding: 5px 18px 5px 18px;
	margin-left: 3px;
	margin-right: 3px;
}

.limited-display h2 {
	margin: 0 auto;
    padding: 15px;
}

.hidden {
	width: 0px;
}

.margin-15 {
	margin: 15px;
}

.desktop-display {
	display: block;
}

.footer-right-border {
	border-right-style: solid;
	border-width: 1px;
	border-color: #ccc;
	padding: 5px;
}

.footer-left-border {
	border-left-style:solid;
	border-width:1px;
	border-color:#ccc;
	padding:5px;
}

.all-news {
	margin-top: 0px;

}

.terms > h1 {
	text-align: left;
}

/* ANIMATION CSS */
.animate.ng-enter, 
.animate-.ng-leave
{ 
  transition: all 1s ease;
} 
 
.animate.ng-enter.animate.ng-enter-active, 
.animate.ng-leave {
  opacity: 1;
}
 
.animate.ng-leave.animate.ng-leave-active,
.animate.ng-enter {
  opacity: 0;
}

/* TABLET LOOK */
@media all and (max-width: 768px) {
	.information {
		display: none;
	}
	.slide-title {
		font-size: 26px;
	    position: absolute;
	    bottom: 75px;
	    text-align: left;
	}
	.navbar-brand {
		display: block;
		float: none;
		margin: 0 auto;
		width: 100%;
	}
	.navbar-brand > img {
		display: block;
		max-width: 220px;
		margin: 0 auto;
		width: 65%;
	}
	h1 {
		text-align: center;
	}
	h2 {
		text-align: center;
	}
	h3 {
		text-align: center;
	}
	.article{
		text-align: center;
	}
	section div h1 {
		text-align: center;
	}
	.sidebar .collapsed {
		padding: 0px;
	}
	.sidebar .dropdown li {
		background-color: #005fb2;
		border-bottom: 1px solid rgba(0,10,120,0.2);
	}
	.nav-collapsible {
		border-right-style: none;
	}
	.desktop-display {
		display: none;
	}
	.sidebar-close {
		position: relative;
	    bottom: 15px;
	    left: 15px;
	}
	.sidebar {
		transition: width .1s ease;
	    -webkit-transition: width .1s ease;
	    -moz-transition: width .1s ease;
		height: 100%;
	    width: 200px;
	    position: fixed;
	    z-index: 20;
	    top: 0;
	    left: 0;
	    background-color: #0070c0;
	    overflow-x: hidden;
	}
	.sidebar-header {
		margin: 0px;
		padding: 20px 20px 20px 0px;
		background: #005fb2;
		color: white;
		width: inherit;
	}
	.sidebar-content {
		display: inline-block;
		color: white;
		width: 200px;
		padding-left: 0px;
	}
	.dropdown {
		display: block;
		padding-left: 0px;
		margin-left: 10px;
		width: inherit;
		border-left: 1px solid rgba(0,0,10,0.2);
	}
	.sidebar li {
		transition: .1s ease;
	    -webkit-transition: .1s ease;
	    -moz-transition: .1s ease;
		padding: 15px 0px 15px 20px;
		border-bottom: 1px solid rgba(0,10,120,0.2);
		background-color: inherit;
		width: 100%;
		height: auto;
	}
	.sidebar li:hover {
		cursor: pointer;
	}
	.sidebar-glyph {
		font-size: 12px;
    	float: right;
	    margin-top: 20px;
	    margin-right: 10px;
    	color: white;
	}
	.sidebar li a {
		transition: .1s ease;
	    -webkit-transition: .1s ease;
	    -moz-transition: .1s ease;
		font-size: 16px;
		color: white;
	}
	.sidebar li a:hover {
		font-size: 16px;
		color: #ccc;
	}
	.navbar-nav {
		display: none;
	}
	.sidebar-btn {
		display: block;
	    position: absolute;
	    top: 30%;
	    height: inherit;
	    border-style: none;
	    font-size: 1.5em;
	    margin: 0px;
	    padding-bottom: 0px;
	}
	
	.circleMobile {
		display:inline-block;
		padding: 2px;
		margin: 0;
		border: 0;
		line-height:16px!important;
		width: 20px!important;
		height: 20px!important;
		border-radius:50%;
		background: #434DB3;
		color: #FFF;
		position: absolute;
		left: 7%!important;
	}

}

@media all and (max-width: 767px) {
	.footer-right-border {
		border-right-style: none;
	}
	.footer-left-border {
		border-left-style: none;
	}
}

@media all and (max-width: 1024px) {
	.ipadTag{
		padding: 0px!important;
	}
	.circleMobile {
		display:inline-block;
		padding: 2px;
		margin: 0;
		border: 0;
		border-radius:50%;
		background: #434DB3;
		color: #FFF;
		position: absolute;
		left: 7%!important;
	}
}

/*****SMARTPHONE LOOK*****/
@media all and (max-width: 426px) {
	img.carousel {
		width: 150%;
		height: auto;
	}
	.banner-limited div {
		width: 80%;
	}
	.banner-limited h2 {
		width: 80%;
	}
	.banner div {
		width: 90%;
	}
	.banner h2 {
		width: 80%;
	}
	p.align-right {
		float: none;
		text-align: center;

	}
	.article {
		font-size: 12px;
		padding: 5px 10px 5px 10px;
	}
	.list {
		font-size: 12px;
		padding: 0px 10px 5px 10px;
	}
	.structure {
		font-size: 14px;
	}
	.series {
		font-size: 16px;
	}
	.news-partner {
		font-size: 12px
	}
	.carousel-title {
		font-size: 16px;
	}
	.carousel-caption {
		bottom: 20px;
		font-size: 12px;
	}
}

@media all and (max-width: 376px) {
	.slide-title {
		font-size: 22px;
	}
	.banner-limited h1 {
		font-size: 40px;
	}
	.banner h1 {
		font-size: 40px;
	}
	.carousel-title {
		width: 70%;
	}
}

@media all and (max-width: 321px) {
	section div h1 {
		font-size: 24px;
	}
	.services {
		font-size: 14px;
	}
	.slide-title {
		font-size: 20px;
		bottom: 65px;
	}

}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Limited-Background {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -470px -180px
	}
}

/*Support CSS*/
.azido{
	transition: all 0.2s ease;

}
.biotin{
	transition: all 0.2s ease;

}
.pNP{
	transition: all 0.2s ease;
}
.fluorescein{
	transition: all 0.2s ease;
}
.support{
transition: all 0.2s ease;
}

.aria{
	padding: 0;
	margin: 0;
	border:0;
}

.circle {
	display:inline-block;
	padding: 2px;
	margin: 0;
	border: 0;
    line-height:18px;
    width: 22px;
	height: 22px;
	border-radius:50%;
	background: #434DB3;
	color: #FFF;
	position: absolute;
	left: 25px;
}

.supportbutton {
	padding: 10px;
}

.supportbutton > .fas {
	position: relative;
	top: 5px;
}

.supporttitle {
	font-size:110%;
	font-weight: bold;
	margin:0;
	padding: 0px;
	border:0px;
}
.productDropdown {
	background:#fff;
	float: right;
	text-align: center;
	color: #000;
	height: 30px;
	width: 80px;
	font-size: 85%;
	padding-left: 5px;
	
}

/*PRODUCTS DROPDOWN*/
select::-ms-expand {
    display: none;
}
select.minimal {
  /* reset */
  outline-color: #FFF;
  border-radius: 2px;
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance:none;
}
.series > label:after {
	font-family: "Font Awesome 5 Free";
	font-weight: 800;
	content:"\f0d7";
	font-size: 70%;
	color: black;
	position: relative;
	left: 72px;
}

.red{
	background-color:white;
	color: #000;
	border-radius: 5px;
}
  
  .blue{
	background-color:#0070c0;
	color: #FFF;
	border-radius: 5px;
	width: 100%;
}
/*PROGRESS BAR*/
md-progress-linear .md-container {
	  display: block;
	  position: relative;
	  overflow: hidden;
	  width: 100%;
	  height: 10px;
	  background:#434DB3;
	  -webkit-transform: translate(0, 0) scale(1, 1);
			  transform: translate(0, 0) scale(1, 1); 
						
}
md-progress-linear .md-container .md-bar {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 10px;
		background:#C7CAEB;
}
md-progress-linear .md-container .md-bar1, md-progress-linear .md-container .md-bar2 {
		-webkit-transition: -webkit-transform 0.2s linear;
		transition: -webkit-transform 0.2s linear;
		transition: transform 0.2s linear;
		transition: transform 0.2s linear, -webkit-transform 0.2s linear; 
}
md-progress-linear .md-container.md-mode-query .md-bar2 {
		-webkit-transition: all 0.2s linear;
		transition: all 0.2s linear;
		-webkit-animation: query 0.8s infinite cubic-bezier(0.39, 0.575, 0.565, 1);
				animation: query 0.8s infinite cubic-bezier(0.39, 0.575, 0.565, 1); 
}
md-progress-linear .md-container.md-mode-determinate .md-bar1 {
		display: none; 
}

/* SUPPORT SYNTH TUTORIAL*/

.glow{
	background: linear-gradient(60deg, #FFF, #305597);
	background-size: 400% 400%;
	-webkit-animation: Gradient 2.5s linear infinite;
	-moz-animation: Gradient 2.5s linear infinite;
	animation: Gradient 2.5s linear infinite;
	margin: 2px;
	padding: 3px 3px 0px 3px;
	border-radius: 5px;
	width: 100%;

}

.glowinactive{
	margin: 2px;
	padding: 3px 2px 0px 2px;
}

.reduceBottom{
	margin-bottom: 3px!important;
}

/* Customize the label (the container) */
.customcheck {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	margin-left: 2px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .customcheck input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
  }
  
  /* Create a custom checkbox */
  .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #ccc;
  }
  
  /* On mouse-over, add a grey background color */
  .customcheck:hover input ~ .checkmark {
	background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .customcheck input:checked ~ .checkmark {
	background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  /* Show the checkmark when checked */
  .customcheck input:checked ~ .checkmark:after {
	display: block;
  }
  
  /* Style the checkmark/indicator */
  .customcheck .checkmark:after {
	left: 9px;
	top: 5px;
	width: 6px;
	height: 12px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
  }

  .reduce-left{
	margin-left: 0px!important;
  }

  .errorMessage{
	  color: red;
	  margin: 0px;
	  padding: 0px;
	}

	.formspace{
		margin: 0px!important;
	}

	.form-group{
		margin-top: 30px;
		margin-bottom: 0px;
	}

	.form-error{
		margin: 0px;
		color:red;
		position: absolute;
	}

	.reduced-top{
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.form-success{
		margin: 0px;
		color: black;
		position: absolute;
	}
	