<div>
	<div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" template-url="/templates/carousel.html">
		<div uib-slide ng-repeat="slide in slides track by $index" index="$index" class="front-carousel" ui-sref="{{slide.state}}">
			<img ng-src="{{slide.img}}" style="margin:auto;">
			<div class="carousel-caption">
				<h3 class="{{slide.color}} carousel-title">{{slide.title}}</h3>
				<p class="{{slide.color}}">{{slide.text}}</p>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<h3 class="news-header">
			News
			</h3>
			<ul class="news-partner">
				<div ng-repeat="item in news | orderBy:'-Updated'">
					<li >
						<strong>{{item.Updated}}</strong> - {{item.News}} <a ng-if="item.Link!==''" ui-sref="{{item.Link}}">{{item.Anchor}}</a>
					</li>
				</div>
			</ul>
			<a class="align-right size-14 desktop-display" ui-sref="news">View all news.</a>
		</div>
		<div class="col-sm-6">
			<h3 class="news-header">
			Partnerships & Investment Opportunities
			</h3>
			<p class="news-partner">
				We welcome inquiries about partnerships and/or investment into research and development of 
				synthetic carbohydrate therapeutics. Feel free to contact us at <a href="mailto:info@glycantherapeutics.com" target="_top">info@glycantherapeutics.com</a>
			</p>
		</div>
	</div>
</div>