<script type="text/ng-template" id="distributor-list.html">
<div>
<a class="size-14" href="mailto:info@glycantherapeutics.com" target="_top">Glycan Therapeutics <span class="glyphicon glyphicon-chevron-right small" aria-hidden="true"></span></a><br>
<a ng-hide="!availablity(x.Link_A)" class="size-14" href="{{x.Link_A}}" class="available">Galen Supplies <span class="glyphicon glyphicon-chevron-right small" aria-hidden="true"></span></a><br>
<a ng-hide="!availablity(x.Link_B)" class="size-14" href="{{x.Link_B}}" class="available">Iduron <span class="glyphicon glyphicon-chevron-right small" aria-hidden="true"></span></a><br>
<a ng-hide="!availablity(x.Link_C)" class="size-14" href="{{x.Link_C}}" class="available">Polysciences <span class="glyphicon glyphicon-chevron-right small" aria-hidden="true"></span></a><br>
</div>		
</script>

<div class="container" ng-controller="compoundCtrl">
	<div class="row">
		<div class="col-sm-3">
			<ul class="nav nav-pills nav-stacked nav-collapsible">
				<li class="active">Filter Products: </li>
				<li><input type="text" placeholder=" Search..." ng-model="nameFilter"></li>
				<li><a data-toggle="collapse" class="collapsed" data-target="#by-series">By Series </a></li>
				<ul id="by-series" class="collapse nav-in-nav"> 
					<li ng-repeat="series in seriesName" class="family-item" ng-class="seriesFilter===series?'nav-'+series:''" ng-click="filterUrl(series, 'series')"><a ng-class="seriesFilter===series?'white-text':''">{{series}} Series</a></li>
				</ul>
				<li><a data-toggle="collapse" class="collapsed" data-target="#by-size">By Size </a></li>
				<ul id="by-size" class="collapse nav-in-nav"> 
					<li ng-repeat="size in sizeName" class="family-item" ng-class="sizeFilter===size?'active-size':''" ng-click="filterUrl(size, 'size')"><a ng-class="sizeFilter===size?'black-text':''">{{size}}</a></li>
				</ul>
				<li><a data-toggle="collapse" class="collapsed" data-target="#by-tag">By Tag </a></li>
				<ul id="by-tag" class="collapse nav-in-nav"> 
					<li ng-repeat="tag in tagName" class="family-item" ng-class="tagFilter===tag?'active-size':''" ng-click="filterUrl(tag, 'tag')"><a ng-class="tagFilter===size?'black-text':''">{{tag}}</a></li>
				</ul>
			</ul>
		</div>
		<div class="col-sm-9">
			<h3>{{filtered.length}} available compounds. <a class="align-right" href="/support/misc/Compounds_Sorting.pdf" download target="_self">Download our entire product list here.</a></h3>
			<div ng-repeat="x in compounds | filter:{Series: seriesFilter, Name: sizeFilter, Family: tagFilter} | filter:nameFilter as filtered" class="row border-bottom">
				<div class="col-sm-12">
					<div class="series-{{x.Series}}">
						No. {{x.id}} | {{x.Name}} 
						<a class="white-text" ng-href="../support/{{x.Family}}-sheets/Product_{{x.Family}}-{{x.id}}.pdf" target="_self"><span class="glyphicon glyphicon-info-sign"></span></a>
						<a ng-hide="isPNP(x.Family)" class="white-text" ng-href="../support/{{x.Family}}-sheets/Safety_{{x.Family}}-{{x.id}}.pdf" target="_self"><span class="glyphicon glyphicon-exclamation-sign"></span></a>
						<a uib-popover-template="'distributor-list.html'" popover-placement="right" class="distributor float-right">Distributors</a>
						<br>
						<select class="black-text float-right pricing-box" ng-if="pnpPricing(x.Family, x.Price)" ng-init="pricing=pnpOptions[0]" ng-model="pricing" ng-options="option as option.label for option in pnpOptions"></select>
						<select class="black-text float-right pricing-box" ng-if="!pnpPricing(x.Family, x.Price)" ng-model="pricing" ng-options="option as option.label for option in options"></select>
						<span class="white-text"> Price: $<span ng-bind="displayPrice(x.Price, pricing.value, x.Family)"></span>
						</span>
						<span class="white-text" ng-show="noPrice(x.Price)">Price: MSRP</span>				
					</div>
				</div>
				<div class="col-sm-12">
					<div class="panel panel-default" ng-click="changeGlyph($index)" data-toggle="collapse" data-target="#{{x.id}}">
						<div class="panel-heading">
							<h4 class="panel-title">
							<a>
							{{x.Structure}} <span class="glyphicon align-right" ng-class="$index===selectedIndex?'glyphicon-chevron-up':'glyphicon-chevron-down'"></span>
							</a>
							</h4>
						</div>
						<div id="{{x.id}}" collapse="status.isCustomHeaderOpen" class="collapse">
							<div class="panel-body">
							<img class="structure-pic" ng-src="/images/{{x.id}}.jpg"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<p class="align-right">Don't see a compound you want? Try our <a ng-href="/services/#custom-synthesis">custom synthesis <span class="glyphicon glyphicon-chevron-right small" aria-hidden="true"></span></a></p>
	</div>
</div>
