<div class="modal-header">
    <h3 class="modal-title">Please enter your email</h3>
    <button type="button" class="close nOoutline" ng-click="dismiss()">×</button>
			
</div>
<div class="modal-body">
    {{resendResponse}}
    <form name="passwordForm" class="form-horizontal reduced-top" role="form">
        <br/>
        <div class="">
            <input type="email" class="form-control input-lg formspace loginMobile" placeholder="Email" autocomplete='given-email' name="email"
                ng-model="emailreset" focus>
        </div>
        <div class="form-group">
            <div class="row loginMobile">
                <div class="col-xs-12 col-md-6 align-center">
                    <button type="submit" class="betterbutton reduce-left" ng-click="resendVerification()">submit</button>
                </div>
            </div>
        </div>
    </form>
</div>