<div class="align-center" ng-controller="synthesisCtrl as $ctrl" style="min-height:700px">
	<div class="container-fluid error" ng-if="alert">
		<button type="button" class="close white-text" ng-click="dismiss()">×</button>
		<h3>{{alertMsg}}</h3>
	</div>
	<div id="myHistory" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	    	<button type="button" class="close modal-close" data-dismiss="modal">×</button>
	    	<div class="modal-header align-center">
	    		<h3>Saved Compounds</h3>
			</div>
			<div class="row align-center" ng-if="history.length===0">
				No compounds saved.
			</div>
		    <div class="row align-center" ng-repeat="compound in history | orderBy: '-ID'">	    
		    	<button type='button' class='close history-close' ng-click='removeHistory(compound)'>×</button>	    		
		    	<a href='#' ng-click='loadHistory(compound.Structure)'>{{compound.Structure}}</a>
		    </div>
		    <p class="footnote modal-footer">
		    	<a class="structure" ng-click="exportData()">EXPORT TO EXCEL</a>
		    </p>
	    </div>
	  </div>
	</div>
	<div class="container">
		<div class="row builder-menu">
			<div class="col-md-2">
				<h2>Menu</h2>
				<div class="row">
					<button style="width:49%" ng-click="openHistory()" ng-disabled="token===undefined">LOAD</button>
					<button style="width:49%" ng-click="saveCompound(structureDisplay())" ng-disabled="token===undefined">SAVE</button>
					<button  ng-click="arrayBack();decrement()">BACK</button>
				</div>
				<div class="row">
					<span style="width:100%" ng-if="!isEven(structure.length)&&structure.length<maxSize&&structure.length>0">
						<div ng-class="structure.length<5?'glow':'glowinactive'"  ng-repeat="odd in oddPiece">
							<button class="reduceBottom" ng-click="addPiece(odd.name);increment()" ng-disabled="oddRules(structure.length, odd.name);"
							 uib-tooltip="{{odd.tooltip}}">{{odd.name}}</button>
						</div>
					</span>
					<span style="width:100%" ng-if="isEven(structure.length)&&structure.length<maxSize&&structure.length>0">
						<div ng-class="structure.length<5?'glow':'glowinactive'"  ng-repeat="even in evenPiece">
							<button class="reduceBottom" ng-click="addPiece(even.name);increment()" ng-disabled="evenRules(structure.length, even.name)"
							 uib-tooltip="{{even.tooltip}}">{{even.name}}</button>
						</div>
					</span>

				</div>
			</div>
			<div class="col-md-8 align-center">
				<h2>Compound</h2>
				<md-progress-linear md-mode="determinate" value="{{$ctrl.determinateValue}}"></md-progress-linear>
				<h3 class="builder-structure" ng-if="structure.length===0">
					Select a tag to get started.
				</h3>
				<h3 class="builder-structure" ng-if="structure.length===1">
						Now select a site
					</h3>
				<h3 class="builder-structure">
					<strong ng-if="structure.length==4">____-</strong>
					<strong ng-if="structure.length==3">____-____-</strong>
					<strong ng-if="structure.length==2">____-____-____-</strong>
					<strong ng-if="structure.length==1">____-____-____-____-</strong>{{structureDisplay()}}
				</h3>
			</div>
			<div class="col-md-2 align-center">
				<h2>Tags</h2>
				<span>
					<div ng-controller="compoundCtrl" ng-repeat="tag in tags">
						<div ng-class="structure.length==0?'glow':'glowinactive'">
							<button ng-click="setTag(tag.name)" uib-tooltip="{{tag.tooltip}}" class="reduceBottom">
								<div class="center " ng-repeat="x in compounds | filter:{Series: highestSeries, Family: tag.name } as thistag"></div>
								<strong class="circle" ng-if="structure.length>minSize">{{thistag.length}}</strong>
								{{tag.name}}
							</button>
						</div>
					</div>
				</span>
			</div>
			<div class="border-top col-sm-10 justify-content-xs-center align-center animate" ng-if="structure.length>minSize" ng-controller="compoundCtrl">
				<h3 style="margin:15px">{{filtered.length}} Similar Compounds</h3>
				<div class="align-center" ng-repeat="x in compounds | filter:{Series: highestSeries, Family: tag} as filtered">
					<div class="series series-{{x.Series}} text-left" ng-switch on="x.Sizes">
						<select class="black-text float-right pricing-box" ng-switch-when="1" ng-model="$parent.pricing" ng-init="$parent.pricing=pnpOptions[0]"
						 ng-options="option as option.label for option in pnpOptions"></select>
						<select class="black-text float-right pricing-box" ng-switch-when="2" ng-model="$parent.pricing" ng-init="$parent.pricing=biotinOptions[0]"
						 ng-options="option as option.label for option in biotinOptions"></select>
						<select class="black-text float-right pricing-box" ng-switch-when="3" ng-model="$parent.pricing" ng-init="$parent.pricing=fluorOptions[0]"
						 ng-options="option as option.label for option in fluorOptions"></select>
						<select class="black-text float-right pricing-box" ng-switch-default ng-model="$parent.pricing" ng-init="$parent.pricing=options[0]"
						 ng-options="option as option.label for option in options"></select>
						No. {{x.id}} | {{x.Name}}
						<a class="white-text" ng-href="../support/{{x.Family}}-sheets/Product_{{x.Family}}-{{x.id}}.pdf" target="_self">
							<span class="glyphicon glyphicon-info-sign"></span>
						</a>
						<a ng-if="x.Family=='Azido'" class="white-text" ng-href="../support/{{x.Family}}-sheets/Safety_{{x.Family}}-{{x.id}}.pdf"
						 target="_self">
							<span class="glyphicon glyphicon-exclamation-sign"></span>
						</a>
						<br>
						<span> Price: $
							<span ng-bind="displayPrice(x.Price, x.Price2, x.Price3, pricing.value)"></span>
						</span>
					</div>
					<div class="card text-left">
						<div class="card-header" ng-click="x.isCollapsed = !x.isCollapsed">
							<div>
								<i class="glyphicon align-right" ng-class="x.isCollapsed?'fas fa-caret-down':'fas fa-caret-up'"></i>
								<a class="structure" ng-bind-html="x.Structure | highlight:structureDisplay()"></a>
							</div>
						</div>
						<div class="card-body" uib-collapse="x.isCollapsed">
							<img class="structure-pic" ng-src="/images/{{x.id}}.jpg" />
						</div>
					</div>
				</div>
				<div class="row align-center" ng-if="structure.length>minSize">
					<strong>No similar compounds? Email us at
						<a href="mailto:info@glycantherapeutics.com?subject=Custom%20Compound&body={{structureDisplay()}}">info@glycantherapeutics.com</a> for a quote on your custom compound.</strong>
				</div>
			</div>
		</div>