<div class="container" ng-controller="compoundCtrl">
	<div class="row">
		<div class="col-sm-3">
			<ul class="nav nav-pills flex-column nav-collapsible">
				<li class="active">Filter Products: </li>
				<li><input type="text" placeholder=" Search..." ng-model="nameFilter" style="width:100%"></li>
				<li ng-class="dateFilter!==undefined?'collapse-header':''">
					<a ng-click="filterUrl('2018-04-13', 'date')">By New</a>
				</li>
				<li ng-click="isSeriesCollapsed = !isSeriesCollapsed" ng-class="seriesFilter!==undefined?'collapse-header':''">
					<span>By Series </span>
				</li>
				<ul uib-collapse="isSeriesCollapsed" class="collapse nav-in-nav"> 
					<li ng-repeat="series in seriesName" class="family-item" ng-class="seriesFilter===series?'nav-'+series:''" ng-click="filterUrl(series, 'series')"><a ng-class="seriesFilter===series?'white-text':''">{{series}} Series</a></li>
				</ul>
				<li ng-click="isSizeCollapsed = !isSizeCollapsed" ng-class="sizeFilter!==undefined?'collapse-header':''">
					<a>By Size </a>
				</li>
				<ul uib-collapse="isSizeCollapsed" class="collapse nav-in-nav"> 
					<li ng-repeat="size in sizeName" class="family-item" ng-class="sizeFilter===size?'active-size':''" ng-click="filterUrl(size, 'size')"><a ng-class="sizeFilter===size?'black-text':''">{{size}}</a></li>
				</ul>
				<li ng-click="isTagCollapsed = !isTagCollapsed" ng-class="tagFilter!==undefined?'collapse-header':''">
					<a>By Tag </a>
				</li>
				<ul uib-collapse="isTagCollapsed" class="collapse nav-in-nav"> 
					<li ng-repeat="tag in tagName" class="family-item" ng-class="tagFilter===tag?'active-size':''" ng-click="filterUrl(tag, 'tag')"><a ng-class="tagFilter===tag?'black-text':''">{{tag}}</a></li>
				</ul>

			</ul>
		</div>
		<div class="col-sm-9">
			<h3>{{filtered.length}} available compounds.
				<a class="align-right desktop-display" href="/support/misc/Compounds_Sorting.pdf"
				 download target="_self">Download our entire product list here.</a>
			</h3>
			<div ng-repeat="x in compounds | filter:{Series: seriesFilter, Name: sizeFilter, Family: tagFilter, Updated: dateFilter} | filter:nameFilter as filtered"
			 class="row animate">
				<div class="col-sm-12">
					<div class="series series-{{x.Series}}" ng-switch on="x.Sizes">
						<span class="black-text float-right pricing-box productDropdown ">
							<select class="minimal btn dropdown-toggle productDropdown" ng-switch-default ng-model="$parent.pricing" ng-init="$parent.pricing=options[0]"
							 ng-options="option as option.label for option in options"> </select>
						</span>
						No. {{x.id}} | {{x.Name}} 
						<a class="white-text" ng-href="../support/{{x.Family}}-sheets/Product_{{x.Family}}-{{x.id}}.pdf" target="_self">
							<i class="fas fa-info-circle"></i>
						</a>
						<br>
						<span> 
							Price: $<span ng-bind="displayPrice(x.Price, x.Price2, x.Price3, pricing.value)"></span>
						</span>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="card">
						<div class="card-header" ng-click="x.isCollapsed = !x.isCollapsed">
							<i class="glyphicon align-right" ng-class="x.isCollapsed?'fas fa-caret-down':'fas fa-caret-up'"></i>
							<a class="structure card-title">{{x.Structure}}</a>
						</div>
						<div class="card-body" uib-collapse="x.isCollapsed">
							<img class="structure-pic" ng-src="/images/{{x.id}}.jpg" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 align-right">
			<p>
				Don't see a compound you want? Try our <a ui-sref="demo">custom synthesis <i class="fas fa-arrow-alt-circle-right"></i></a>
			</p>
		</div>
	</div>
</div>